* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black: #222;
  --blask2: #999;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.Kontener {
  position: relative;
  width: 100%;
}
.navigasi {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigasi.active {
  width: 60px;
}
.navigasi ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigasi ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigasi ul li:hover,
.navigasi ul li.hovered {
  background-color: var(--white);
}
.navigasi ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigasi ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigasi ul li:hover a,
.navigasi ul li.hovered a {
  color: var(--blue);
}
.navigasi ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigasi ul li a .icon ion-ion {
  font-size: 1.75rem;
}
.navigasi ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside*/

.navigasi ul li:hover a::before,
.navigasi ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigasi ul li:hover a::after,
.navigasi ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/*main*/
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 200px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 30px;
  border-radius: 50px;
  padding: 10px 30px;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--blask2);
}
.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 100px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blask2);
}
.cardBox .card .cardName {
  color: var(--blask2);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 3.5em;
  color: var(--blask2);
}
.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card .numbers,
.cardBox .card .cardName,
.cardBox .card .iconBx {
  color: var(--blask2);
}
.data {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}
.data .Orderanterbaru {
  position: relative;
  display: grid;
  min-height: 320px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.ABC {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.data .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.data .table thead td {
  font-weight: 600;
}
.data .Orderanterbaru table tr {
  color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.data .Orderanterbaru table tr:last-child {
  border-bottom: none;
}
.data .Orderanterbaru table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.data .Orderanterbaru table tr td {
  padding: 4px;
}
.data .Orderanterbaru table tr td:last-child {
  text-align: end;
}
.data .Orderanterbaru table tr td:nth-child(2) {
  text-align: end;
}
.data .Orderanterbaru table tr td:nth-child(3) {
  text-align: center;
}
.Status.Lunas {
  padding: 2px 4px;
  background: #14c847;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.Status.Pending {
  padding: 2px 4px;
  background: #d20808;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.Pelanggan.Terbaru {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.Pelanggan.Terbaru .imgbox {
  position: relative;
  /* width: 10px; */
  /* height: 10px; */
  /* border-radius: 10%; */
  /* overflow: hidden; */
}

@media (max-width: 991px) {
  .navigasi {
    left: -300px;
  }
  .navigasi.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .data {
    grid-template-columns: repeat(1, 1fr);
  }
  .Orderanterbaru {
    overflow-x: auto;
  }
  .Status.Lunas {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigasi {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigasi.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #fff;
  }
}
